.projects{

    padding:100px 8%;

    background:white;
}

.featured-project{

    background:linear-gradient(135deg,#27c9e5,#6388ed);

    color:white;

    border-radius:20px;

    padding:50px;

    margin:60px 0;

    box-shadow:0 15px 35px rgba(37,99,235,.25);
}

.featured-badge{

    background:white;

    color:#2563eb;

    padding:8px 18px;

    border-radius:30px;

    font-size:14px;

    font-weight:600;

    display:inline-block;

    margin-bottom:20px;
}

.featured-content h2{

    font-size:38px;

    margin-bottom:20px;
}

.featured-content p{

    line-height:1.9;

    max-width:750px;

    margin-bottom:30px;
}

.project-tech{

display:flex;

flex-wrap:wrap;

gap:10px;

margin-bottom:25px;

}

.project-tech span{

background:#eff6ff;

padding:8px 16px;

border-radius:20px;

font-size:13px;

font-weight:600;

color:var(--primary);

}

.project-buttons{

    display:flex;

    gap:20px;

    flex-wrap:wrap;
}

.project-card a{

display:inline-flex;

align-items:center;

gap:10px;

font-weight:600;

color:var(--primary);

margin-top:auto;

}

.projects-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;
    margin-top:60px;
}

.project-card{
    background:#fff;
    border-radius:20px;
    padding:35px;
    box-shadow:var(--shadow);
    border:1px solid var(--border);
    transition:.35s ease;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    min-height:330px;
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 18px 40px rgba(37,99,235,.18);
}

.project-card h3{

font-size:24px;

margin-bottom:18px;

color:var(--text);

}

.project-card p{

line-height:1.8;

color:var(--light);

margin-bottom:25px;

flex:1;

}

.project-card .project-tech span{

    background:#dbeafe;

    color:#2563eb;
}

.project-card a{

    display:inline-flex;

    align-items:center;

    gap:10px;

    color:#2563eb;

    font-weight:600;
}

@media(max-width:768px){

.featured-project{

padding:35px 25px;

}

.featured-content h2{

font-size:30px;

}

}

@media(max-width:768px){

    .projects-grid{
        grid-template-columns:1fr;
    }

}