.navbar{

width:100%;

height:80px;

padding:0 8%;

display:flex;

justify-content:space-between;

align-items:center;

background:rgba(255,255,255,.92);

backdrop-filter:blur(10px);

position:sticky;

top:0;

z-index:999;

border-bottom:1px solid var(--border);

}

.logo{

font-size:30px;

font-weight:700;

color:var(--text);

}

.logo span{

color:var(--primary);

}

.nav-links{

display:flex;

align-items:center;

gap:35px;

}

.nav-links a{

position:relative;

font-weight:500;

color:var(--light);

transition:.3s;

}

.nav-links a:hover{

color:var(--primary);

}

.nav-links a::after{

content:"";

position:absolute;

left:0;

bottom:-8px;

width:0;

height:2px;

background:var(--primary);

transition:.3s;

}

.nav-links a:hover::after{

width:100%;

}

.resume-btn{

padding:12px 24px;

background:var(--primary);

color:white;

border-radius:10px;

font-weight:600;

transition:.3s;

}

.resume-btn:hover{

background:var(--primary-dark);

transform:translateY(-2px);

}

@media(max-width:900px){

.nav-links{

display:none;

}

.resume-btn{

display:none;

}

.navbar{

padding:0 6%;

}

}